@import "tw-animate-css";
@import "shadcn/tailwind.css";
@property --a {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@property --b {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes rotateA {
  /* from { --a: 0deg; }
  to   { --a: 360deg; } */
  0%{--a:0deg;}
  0%{
    --a:360deg;
  }
}

@keyframes rotateB {
  from { --b: 360deg; }
  to   { --b: 0deg; }
}

/* Ring 1 */
.ring-1 {
  background: repeating-conic-gradient(
    from var(--a),
    #ff2770 0%,
    #ff2770 5%,
    transparent 5%,
    transparent 40%,
    #ff2770 50%
  );
  animation: rotateA 4s linear infinite;
  filter: drop-shadow(0 15px 50px #000);
  transition: 0.5s;
}

/* Ring 2 */
.ring-2 {
  background: repeating-conic-gradient(
    from var(--b),
    #45f3ff 0%,
    #45f3ff 5%,
    transparent 5%,
    transparent 40%,
    #45f3ff 50%
  );
  animation: rotateB 4s linear infinite;
  animation-delay: -1s;
  transition: 0.5s;
  filter: drop-shadow(0 15 50px #000);
}


